<?xml version="1.0" encoding="utf-8"?>
<VCPlatformConfigurationFile Version="8.00" >
  <Platform Name="VCProjectEngine.dll" Identifier="Win32" >
    <Directories
      Include="$(MSSdk)\Include;$(MSSdk)\Include\gl;$(MSSdk)\VC\Include;$(VCInstallDir)include;$(VCInstallDir)atlmfc\include;$(FrameworkSDKDir)include"
      Library="$(MSSdk)\lib;$(VCInstallDir)lib;$(VCInstallDir)atlmfc\lib;$(VCInstallDir)atlmfc\lib\i386;$(FrameworkSDKDir)lib;$(VSInstallDir);$(VSInstallDir)lib"
      Path="$(MSSdk)\bin;$(VCInstallDir)bin;$(VSInstallDir)Common7\Tools\bin;$(VSInstallDir)Common7\tools;$(VSInstallDir)Common7\ide;$(ProgramFiles)\HTML Help Workshop;$(FrameworkSDKDir)bin;$(FrameworkDir)$(FrameworkVersion);$(VSInstallDir);$(VSInstallDir)\SDK\v2.0\bin;$(SystemRoot)\SysWow64;$(FxCopDir);$(PATH)"
      Reference="$(ProgramFiles)\Reference Assemblies\Microsoft\Framework\v3.0;$(FrameworkDir)$(FrameworkVersion);$(VCInstallDir)atlmfc\lib;$(ProgramFiles)\Reference Assemblies\Microsoft\Framework;$(ProgramFiles)\Reference Assemblies\Microsoft\mmc;$(ProgramFiles)\Reference Assemblies\Microsoft\Tablet PC;$(ProgramFiles)\Reference Assemblies\Microsoft\UDDI;$(ProgramFiles)\Reference Assemblies\Microsoft\WindowsPowerShell"
      Source="$(VCInstallDir)atlmfc\src\mfc;$(VCInstallDir)atlmfc\src\mfcm;$(VCInstallDir)atlmfc\src\atl;$(VCInstallDir)crt\src"
    />
  </Platform>
</VCPlatformConfigurationFile>
