
save/debug/
*.ipch
*.sdf
*.suo
*.user
*.tlog
*.log
*.lastbuildstate
*.manifest
*.cache
lib/alpha/dll/sdlplugin.exp
lib/alpha/dll/sdlplugin.lib
save/00_ExtraStagesList.txt
save/00_CharactersList.txt
script/dlc.lua
