
*.ipch
*.sdf
*.suo
*.user
*.tlog
*.log
*.lastbuildstate
*.manifest
*.cache
lib/alpha/dll/sdlplugin.exp
lib/alpha/dll/sdlplugin.lib
save/00_ExtraStagesList.txt
save/00_CharactersList.txt
script/dlc.lua
/src/lib/alpha/sdlplugin/sdlplugin/Release
plugins/plugins.dat
src/lib/alpha/ogg/ogg/Release/vc100.pdb
src/lib/alpha/ogg/ogg/Release/ogg.unsuccessfulbuild
src/lib/alpha/ogg/ogg/Release/ogg.obj
src/lib/dll/sound/sound/Release/vc100.pdb
src/lib/dll/sound/sound/Release/sound.obj
src/ssize (executable)/ssize/Release/vc100.pdb
/src/ssize (executable)/ssize/Release
