<?xml version="1.0" encoding="utf-8"?>
<?xml version="1.0" encoding="utf-8"?>
<VCPlatformConfigurationFile Version="8.00" >
  <Platform Name="VCProjectEngine.dll" Identifier="Win32" >
    <Directories 
      Include="$(MSSdk)\VC\Include;$(MSSdk)\VC\Include\Sys;$(MSSdk)\Include;$(MSSdk)\Include\gl;$(VCINSTALLDIR)\atlmfc\include"
      Library="$(MSSdk)\VC\lib;$(MSSdk)\lib;$(VCINSTALLDIR)\atlmfc\lib"
      Path="$(MSSdk)\VC\bin;$(MSSdk)\bin;$(FxTools);$(PATH)"
      Reference="$(ProgramFiles)\Reference Assemblies\Microsoft\Framework\v3.0;$(ProgramFiles)\Reference Assemblies\Microsoft\Framework;$(ProgramFiles)\Reference Assemblies\Microsoft\mmc;$(ProgramFiles)\Reference Assemblies\Microsoft\Tablet PC;$(ProgramFiles)\Reference Assemblies\Microsoft\UDDI;$(ProgramFiles)\Reference Assemblies\Microsoft\WindowsPowerShell"
      Source=""
		/>
  </Platform>
</VCPlatformConfigurationFile>
