<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body text="#000000" link="#000000" vlink="#666666" alink="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div align="left"></div>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="30" colspan="2"> <div align="center"><strong><font size="4" face="Tahoma">!ff displayname!</font></strong></div></td>
  </tr>
  <tr> 
    <td width="150"><div align="center">!ff bigportrait!</div></td>
    <td><font size="2" face="Tahoma"><strong>!ff titlename!</strong>!ff charname!<br>
      <strong>!ff titledate!</strong>!ff chardate!<br>
      <strong>!ff titleversion!</strong>!ff mugenversion!<br>
      <strong>!ff titleauthor!</strong>!ff author!<br>
	  <strong>!ff titleemail!</strong>!ff email!<br>
	  <strong>!ff titlehomepage!</strong>!ff homepage!</font></td>
  </tr>
  <tr> 
    <td height="30" colspan="2"><div align="center"><strong><font size="4" face="Tahoma">!ff titleanim!</font></strong></div></td>
  </tr>
  <tr> 
    <td colspan="2"><div align="center">!ff anim1! !ff anim2! !ff anim3! !ff anim4! !ff anim5! !ff anim6!<br/>
					!ff anim7! !ff anim8! !ff anim9! !ff anim10! !ff anim11! !ff anim12!</div></td>
  </tr>
  <tr> 
    <td height="30" colspan="2"><div align="center"><strong><font size="4" face="Tahoma">!ff titlecomm!</font></strong></div></td>
  </tr>
  <tr> 
    <td colspan="2"><div align="center"><font size="2" face="Tahoma">!ff commands!</font></div></td>
  </tr>
  <tr> 
    <td height="30" colspan="2">
<div align="center"><strong><font size="4" face="Tahoma">!ff titletext!</font></strong></div></td>
  </tr>
  <tr>
    <td colspan="2"><div align="center"><font size="2" face="Tahoma">!ff text!</font></div></td>
  </tr>
</table>
<div align="left"></div>
</body>
</html>
