<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <config name="action_list_area" value=""/>
    <config name="action_list_width" value=""/>
    <config name="ask_save_palettes" value="true"/>
    <config name="auto_expand_tree" value="false"/>
    <config name="background_file" value=""/>
    <config name="background_type" value="2"/>
    <config name="background_x" value="-426"/>
    <config name="background_y" value="-416"/>
    <config name="backup_onload" value="false"/>
    <config name="cache_compression" value="true"/>
    <config name="cache_type" value="0"/>
    <config name="clsn_opacity" value="100"/>
    <config name="clsn_over_axis" value="false"/>
    <config name="code_folding_markers" value="true"/>
    <config name="code_highlight_blocks" value="false"/>
    <config name="code_highlight_line" value="true"/>
    <config name="code_line_numbers" value="true"/>
    <config name="code_paren_matching" value="true"/>
    <config name="colorset" value=""/>
    <config name="confirm_close" value="true"/>
    <config name="confirm_delete" value="true"/>
    <config name="confirm_editimg" value="true"/>
    <config name="crosshair_animation" value=""/>
    <config name="crosshair_extra" value=""/>
    <config name="crosshair_sprite" value=""/>
    <config name="crosshair_type" value="0"/>
    <config name="default_codepage" value="0"/>
    <config name="enable_file_watcher" value="false"/>
    <config name="extra_toolbar" value="4"/>
    <config name="font_name" value="Courier New"/>
    <config name="font_size" value="10"/>
    <config name="gif_path" value="H:/Documents and Settings/CD2/Escritorio"/>
    <config name="iconset" value=""/>
    <config name="language" value="en-us"/>
    <config name="main_axis_x" value="334"/>
    <config name="main_axis_y" value="270"/>
    <config name="main_toolbar" value="4"/>
    <config name="max_history" value="30"/>
    <config name="onion_effect" value="1"/>
    <config name="onion_opacity" value="80"/>
    <config name="pal_path" value="H:/Documents and Settings/CD2/Escritorio/ULTIMATE SMASHBOX/chars/sf3_chunli"/>
    <config name="preset" value="Classic"/>
    <config name="proj_path" value="H:/Documents and Settings/CD2/Escritorio/Ikemen Plus Master 0.3/font"/>
    <config name="quicksearch_back" value="false"/>
    <config name="quicksearch_case" value="false"/>
    <config name="quicksearch_circular" value="false"/>
    <config name="quicksearch_regexp" value="false"/>
    <config name="reverse_spr_axis" value=""/>
    <config name="save_only_modified" value="1"/>
    <config name="show_action_list" value="false"/>
    <config name="show_addpalette_dialog" value="true"/>
    <config name="show_addsound_dialog" value="true"/>
    <config name="show_addsprite_dialog" value="true"/>
    <config name="show_anim_cross" value="true"/>
    <config name="show_calculator" value="false"/>
    <config name="show_clipboard" value="false"/>
    <config name="show_clsn1" value="true"/>
    <config name="show_clsn2" value="true"/>
    <config name="show_clsn_def1" value="true"/>
    <config name="show_clsn_def2" value="true"/>
    <config name="show_find_multi" value="false"/>
    <config name="show_guides" value="false"/>
    <config name="show_left_panel" value="true"/>
    <config name="show_organizer" value="false"/>
    <config name="show_quicksearch" value="false"/>
    <config name="show_right_panel" value="true"/>
    <config name="show_rulers" value="true"/>
    <config name="show_sctrl_list" value="true"/>
    <config name="show_spr_cross" value="true"/>
    <config name="show_text_bar" value="false"/>
    <config name="show_trans_color" value="false"/>
    <config name="snd_path" value="C:/Users/CD2/Desktop"/>
    <config name="sort_file_names" value="true"/>
    <config name="spr_path" value="C:/Users/CD2/Desktop/ctn2"/>
    <config name="sprite_over_guides" value="false"/>
    <config name="stylesheet" value=""/>
    <config name="switch_frame_spr" value="true"/>
    <config name="switch_to_imgpal" value="true"/>
    <config name="thumb_size" value="64"/>
    <config name="toolbar_break" value="true"/>
    <config name="toolbar_first" value="true"/>
    <config name="undo_limit" value="64"/>
    <config name="use_opengl" value="false"/>
    <config name="window_height" value="838"/>
    <config name="window_left" value="0"/>
    <config name="window_state" value="10"/>
    <config name="window_top" value="22"/>
    <config name="window_width" value="1440"/>
    <config name="zoom_center" value=""/>
    <config name="zoom_level" value="2"/>
    <config name="zoom_mode" value="1"/>
</configuration>
