<?xml version="1.0" encoding="utf-8"?>
<VCPlatformConfigurationFile Version="8.00" >
  <Platform Name="VCProjectIA64Platform.dll"
            Identifier="{600dd186-2429-11d7-8bf6-00b0d03daa06}"	>
    <Directories
      Include="$(MSSdk)\Include;$(MSSdk)\Include\gl;$(MSSdk)\VC\Include;$(VCInstallDir)include;$(VCInstallDir)atlmfc\include;$(FrameworkSDKDir)include"
			Library="$(MSSdk)\lib\ia64;$(VCInstallDir)lib\ia64;$(VCInstallDir)atlmfc\lib\ia64;$(VSInstallDir)SDK\v2.0\lib\ia64"
      Path="$(MSSdk)\bin;$(VCInstallDir)bin\x86_ia64;$(VCInstallDir)bin;$(VSInstallDir)Common7\Tools\bin;$(VSInstallDir)Common7\tools;$(VSInstallDir)Common7\ide;$(ProgramFiles)\HTML Help Workshop;$(FrameworkSDKDir)bin;$(FrameworkSDKDir)lib\win64;$(FrameworkDir)$(FrameworkVersion);$(FxCopDir);$(PATH)"
      Reference="$(ProgramFiles)\Reference Assemblies\Microsoft\Framework\v3.0;$(FrameworkDir)$(FrameworkVersion);$(VCInstallDir)atlmfc\lib\ia64;$(ProgramFiles)\Reference Assemblies\Microsoft\Framework;$(ProgramFiles)\Reference Assemblies\Microsoft\mmc;$(ProgramFiles)\Reference Assemblies\Microsoft\Tablet PC;$(ProgramFiles)\Reference Assemblies\Microsoft\UDDI;$(ProgramFiles)\Reference Assemblies\Microsoft\WindowsPowerShell"
			Source="$(VCInstallDir)atlmfc\src\mfc;$(VCInstallDir)atlmfc\src\mfcm;$(VCInstallDir)atlmfc\src\atl;$(VCInstallDir)crt\src"
    />
  </Platform>
</VCPlatformConfigurationFile>
